<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list chair </title>
    <link rel="stylesheet" href="style1.css">
    <script src="js bootstrap/jquery-3.6.1.min.js"></script>
    <link rel="stylesheet" href="fontawe/css/all.css">
    <link rel="stylesheet" href="css bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css bootstrap/bootstrap.css">
    <script src="js bootstrap/bootstrap.min.js"></script>
    <script src="js bootstrap/angular.min.js"></script>
    <script src="js bootstrap/angular-route.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="header.css">
</head>
<style>
    * {
        padding: 0;
        margin: 0;
    }

    .navbar-collapse ul li {
        list-style: none;
        font-family: 'Mulish', sans-serif;
        line-height: 70px;
        margin: 0px auto;


    }

    .navbar-collapse ul li a {
        color: #333333;
        font-weight: bolder;
        text-align: center;
        text-decoration: none;

    }

    .navbar-collapse ul li a:hover {
        transform: 1.2s;
        color: chocolate;
    }


    .card {
        display: block;
    }



    .col-md-3 {
        flex-basis: 30%;
    }

    h2 {
        text-align: center;
    }
</style>

<body>

    <div class="container">
        <div class="header">
            <div class="menu-bar">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="#"><img src="anhlogo3.png" alt=""
                            style="width: 230px; height:90px ;"></a></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa-fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="index.html">HOME <span class="sr-only">(current)</span></a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    PRODUCT
                                    <span class="caret"></span></a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="sofachair_list.html">SOFA</a>
                                    <a class="dropdown-item" href="offchair_list.html">OFFICE CHAIR</a>
                                    <a class="dropdown-item" href="kidchair_list.html">KID'S CHAIR</a>

                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    COMPARE
                                    <span class="caret"></span></a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">SOFA</a>
                                    <a class="dropdown-item" href="#">OFFICE CHAIR</a>
                                    <a class="dropdown-item" href="#">KID'S CHAIR</a>

                            <li class="nav-item active">
                                <a class="nav-link" href="#">ABOUT US</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="aboutus.html">CONTACT US</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--main-->
        <div class="main">
            <h2>OFFICE CHAIR</h2>
            <div class="aa" ng-app="myApp" ng-controller="myControl">
                <div class="row">
                    <div class="col-md-3">
                        <div class="navbar-collapse">
                            <input style="width:165px; ;" type="text" name="" id="txtsp" ng-model="tenSP"
                                placeholder=" Search...">
                            <ul>
                                <li><a href="sofachair_list.html">SOFA</a></li>
                                <li> <a href="offchair_list.html">OFFICE CHAIR</a></li>
                                <li><a href="kidchair_list.html">KID'S CHAIR</a></li>
                                <li><a href="">COMPARE</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-9">
                        <div class="row mt-4">
                            <div class="col-md-4" ng-repeat="item in listSP|filter:tenSP">
                                <div class="card mx-auto mt-3 pt-1">
                                    <a href="{{item.link}} " class="thumbnail"
                                        style="text-decoration: none;color: #333333;">
                                        <div class="d-flex sale ">
                                            <div class="btn">SALE</div>
                                        </div>
                                        <img class='img-thumbnail' src="{{item.img}}" width="auto" height="auto" />
                                        <div class="card-body text-center">
                                            <h5 class="card-title" style="text-align:center ;"> {{item.name}}</h5>
                                            <p class="card-text" style="text-align:center ;">{{item.price}}</p>

                                            <button class="btn btn-danger" style="text-align:center ;">View
                                                Detail</button>
                                        </div>
                                    </a>
                                </div>
                            </div>










                        </div>
                    </div>





                </div>
            </div>
        </div>
        <hr>
        <footer class="text-center text-lg-start" style="background-color: #E8E9DA;">
            <!-- Grid container -->
            <div class="container p-4 pb-0">
                <!-- Section: Links -->
                <section class="">
                    <!--Grid row-->
                    <div class="row">
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">
                                RICHFIELD CHAIRS
                            </h6>
                            <p>
                                Richfield Chairs is an organization selling Chairs. They produce various chairs of
                                different types suiting every requirement and into various sizes, starting from kids
                                to
                                office to home and etc.
                            </p>
                        </div>
                        <!-- Grid column -->

                        <hr class="w-100 clearfix d-md-none" />

                        <!-- Grid column -->
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
                            <p>
                                <a>SOFA</a>
                            </p>
                            <p>
                                <a>OFFICE CHAIR</a>
                            </p>
                            <p>
                                <a>KID'S CHAIR</a>
                            </p>

                        </div>
                        <!-- Grid column -->

                        <hr class="w-100 clearfix d-md-none" />
                        <!-- Grid column -->
                        <hr class="w-100 clearfix d-md-none" />

                        <!-- Grid column -->
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                            <p><i class="fas fa-home mr-3"></i>590 CMT8,Q3,HCM CITY</p>
                            <p><i class="fas fa-envelope mr-3"></i>thecot2004@gmail.com </p>
                            <p><i class="fas fa-phone mr-3"></i>0388546215</p>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>

                            <!-- Facebook -->
                            <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998"
                                href="https://www.facebook.com/thecot.haha" role="button"><i
                                    class="fab fa-facebook-f"></i></a>



                            <!-- Google -->
                            <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39" href="#!"
                                role="button"><i class="fab fa-google"></i></a>

                            <!-- Instagram -->
                            <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#!"
                                role="button"><i class="fab fa-instagram"></i></a>


                        </div>
                    </div>
                    <!--Grid row-->
                </section>
                <!-- Section: Links -->
            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
                Copyright &copy; by T1.2208.A0(Group 5)
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->
    </div>

    <footer style="text-align:center ;"> footer</footer>

    <script>

        var app = angular.module("myApp", [])
        app.controller("myControl", function ($rootScope) {
            $rootScope.listSP = [{
                "name": "SG350",
                "price": "$100",
                "img": "offchair/sg350.jpg",
                "link": "#",
            },
            {
                "name": "SG669",
                "price": "$120",
                "img": "offchair/sg669.jpg",
                "link": "#",
            },
            {
                "name": "SG718",
                "price": "$75",
                "img": "offchair/sg718.jpg",
                "link": "#",
            },

            {
                "name": "SG901",
                "price": "$95",
                "img": "offchair/sg901.jpg",
                "link": "#",
            },
            {
                "name": "SG901A",
                "price": "$105",
                "img": "offchair/sg901a.jpg",
                "link": "#",
            },
            {
                "name": "SG903",
                "price": "$95",
                "img": "offchair/sg903.jpg",
                "link": "#",
            },
            {
                "name": "SG920",
                "price": "$130",
                "img": "offchair/sg920.jpg",
                "link": "#",
            },
            {
                "name": "SG1020",
                "price": "$120",
                "img": "offchair/sg1020.jpg",
                "link": "#",
            },
            {
                "name": "SG1020",
                "price": "$120",
                "img": "offchair/sg1020.jpg",
                "link": "#",
            },



            ];


        })
    </script>
</body>

</html>